<div class = "student">

  <div class="text-center box-btn">
    <h4>ていしゅつ した宿題</h4>
  </div>

       <table class="hmwk text-center">
        <tr class="hmwk-title">
          <th class="hmwk-list student-color">提出日</th>
          <th class="hmwk-list student-color">宿題名</th>
          <th class="hmwk-list student-color">科目名</th>
        </tr>

<% @submissions.each do |submission| %>

         <tr>
            <td class="hmwk-data">
              <%= submission.updated_at.strftime("%Y/%m/%d") %>
            </td>
            <td class="hmwk-data">
              <%= link_to submission.post_homework.name, submission_path(submission.id), class: "btn btn-warning" %>
            </td>
            <td class="hmwk-data">
              <%= submission.post_homework.subject %>
            </td>
         </tr>

<% end %>
</table>

<div class="text-center box-btn">
        <%= link_to "前ページへ戻る", students_home_path, class: "btn btn-warning ml2" %>
      </div>

</div>
