<div class = "student">

<p>とうろく内容をかくにんする場合は</p>
<%= link_to "こちら", student_my_page_path, class: "btn btn-success ml2" %>
<% if @student.keyword.nil? %>
<p>あいことば を とうろくしよう！</p>
<%= link_to "とうろく する", new_keyword_path, class: "btn btn-success ml2" %>
<% elsif @student.keyword.is_active == 0 %>
<p>あいことば を かくにんちゅうだよ！</p>
<% elsif @student.keyword.is_active == 2 %>
<p>あいことば を もういちど先生にかくにんしてね</p>
<% else %>
<p>あいことば を かくにんしたよ！ようこそほむわくへ！</p>

<%= link_to "宿題を かくにん する", post_homeworks_path, class: "btn btn-success ml2" %>

<%= link_to "提出した宿題を かくにん する", submissions_path, class: "btn btn-success ml2" %>

<% end %>

</div>
