<h1>ほむわく！</h1>
<p>宿題を投稿、提出、管理する、先生と生徒のためのサイト</p>
<p>先生は<%= link_to "こちら", new_teacher_session_path, class: "underline" %></p>
<p>生徒は<%= link_to "こちら", new_student_session_path, class: "underline" %></p>

