<h1>Abouts#about</h1>
<p>Find me in app/views/abouts/about.html.erb</p>
<p>先生は<%= link_to "こちら", new_teacher_session_path, class: "underline" %></p>
<p>生徒は<%= link_to "こちら", new_student_session_path, class: "underline" %></p>

